<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
        <script src="index.js"></script>
        <style>
            .question {
                margin: 20px 0;
            }
            .m-left{
                margin-left: 20px;
            }
            #data > ul{
                border-bottom: 1px solid #ddd;
                margin-bottom: 20px;
            }
        </style>
    </head>

    <body ng-app="formApp">
        <div class="page" ng-controller="FormController">
            <button ng-click="addNewQuestion()">Soru Ekle</button>
            <div class="panel">
                <div ng-repeat="question in data" class="question">
                    <input ng-model="question.text" type="text" placeholder="soru başlık">
                    <select ng-model="question.type">
                        <option value="checkbox">checkbox</option>
                        <option value="radio">radio</option>
                    </select><br>
                    <div class="options">
                        <ul>
                            <li ng-repeat="option in question.options">
                                <input ng-model="option.text" type="text">                                    
                                <button ng-click="removeOption(question,option)">x</button>
                            </li>
                        </ul>
                        <button ng-click="addOption(question)">Seçenek Ekle</button>
                    </div>
                </div>
            </div>
            <button ng-click="save()">Kaydet</button>
            <div id="data">
                <ul ng-repeat="item in data">
                    <li>text : {{item.text}} </li>
                    <li>type : {{item.type}}</li>
                    <li>
                        <span>options :</span>
                        <ul class="m-left">
                            <li ng-repeat="opt in item.options"> {{opt.text}}</li>
                        </ul>
                    </li>

                </ul>
               
            </div>
        </div>

    </body>

</html>